.snotes{
    height: 50vh;
    width: 100%;
    border: 5px solid black;
    display: flex;
    margin-top: 5vh;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 20px;
}
.snotes p{
    font-size: 1.25rem;
    color: #f3bd00;

}
.snotes button{
    height: 3vh;
    width: 10%;
    border-radius: 0;
    background-color: red;
}
.snotes button:hover{
    opacity: 0.8;
}
.Dnotes{
    height: 50vh;
    width: 30%;
    border: 5px solid black;
    margin-top: 5vh;
    border-radius: 20px;
}